.fcontainer .foot img{
    height: 100px;
    width: auto;
}

.foot{
    display: flex;
    float: left;
}

.foot .social-iocns{
    display: flex;
    float: right;
}

.foot .button {
    display: flex;
    float: right;
    flex:row;
    justify-content:space-around;
}

.foot .icon1, .icon2 ,.icon3{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.foot .icon4{
    margin-right: 20px;
}
.foot .rights{
    text-align: center;
}
.foot a{
    color: #fff;
    text-decoration: none;
    
}

.foot ul {
    list-style-type: none;
  }
     /* Footer Styles */
     footer {
        background-color: #222831;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }

    /* Footer Links */
    footer {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }

    /* Social Media Icons */
    footer .social-icons {
        margin-top: 10px;
    }

    footer .social-icons  {
        font-size: 20px;
        margin: 0 10px;
    }