* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    font-family: Verdana, Tahoma, sans-serif;
}

.features {
    background-color: #222831;
    height: 25px;
}

a :hover {
    text-decoration: none;
}

.features ul {
    display: flex;
    align-items: flex-start;
    list-style: none;
    line-height: 25px;
}

.features ul a {
    text-decoration: none;
    color: #EEEEEE;
    padding: 0px 15px;
}

.features ul li {
    font-size: 12px;
    font-weight: 500;
}

.features .dropitems li:hover {
    background-color: #393E46;
    transition: background-color 0.5s;
}

.features .dropitems {
    display: none;
    background-color: #222831;
    color: #EEEEEE;
    position: relative;
    margin: 0;

}

.features .dropitems li {
    display: block;
    border-bottom: 1px solid #00ADB5;
    margin: 0px 2px !important;
}

.features .dropdown:hover .dropitems {
    display: block;
    z-index: 1;
    box-shadow: 10px 5px 5px black;
}

.header {
    width: 100%;
    margin: 10px 10px 4px 0;
    padding-left: 25px;
}

.ministry {
    display: flex;
    text-align: flex-start;
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    align-items: flex-start;
}

.header .logo h1 {
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 800;
}

.hearing {
    margin: 10px auto;
}

.model {
    height: 100px;
}

.navi {
    background: #00ADB5;
    width: 100%;
    height: 40px;
}

.navi ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
    padding-left: 30px;
}

.navi li a {
    color: #EEEEEE;
    text-decoration: none;
    line-height: 40px;
    padding: 10px 20px;
    font-weight: 625;
}

.home {
    width: 22px;
    height: 18px;

}

.navi li:hover {
    background-color: #222831;
}

.navi .dropitems {
    display: none;
    background-color: #00ADB5;
    color: #EEEEEE;
    position: relative;
}

.navi .dropitems a {
    display: block;
    line-height: 40px !important;
    padding: 0px 20px !important;
    border-bottom: 1px solid #222831;
}

.navi .dropdown:hover .dropitems {
    display: block;
    z-index: 1;
    box-shadow: 10px 5px 5px black;
}

.navi .dropitems a:hover {
    background-color: #393E46;
    transition: background-color 0.5s;
}

.marque {
    width: 100%;
    background-color: #00ADB5;
    color: #EEEEEE;
    font-size: 14px;
}

.foot {
    background-color: #222831;
    bottom: 0;
}

.newsannoucements {
    display: flex;
    align-items: flex-start;
    
}
#demo .carousel-item img {
    width: 100vw;
    height: 50vh;
}